
<div class="container-fluid">
    <br />
    <form name="form" role="search" ng-submit="search()">
        <div class="d-inline-block col-lg-2 col-md-4 col-sm-6">
            <select class="input-base select-single" ng-model="serviceType.model"
                    ng-options="opt.id as opt.name for opt in serviceType.availableOptions"></select>
        </div>
        <div class="d-inline-block col-lg-2 col-md-4 col-sm-6">
            <div multiple-dropdown data="propertyType" sign="'select type'"></div>
        </div>


        <div class="d-inline-block col-lg-2 col-md-4 col-sm-6">
            <input ng-required="form.city.$dirty" type="text" name="city" id="city" class="input-base input-single form-control" ng-autocomplete ng-model="city" options="options"
                   lng="" lat=""
                   placeholder="Enter location:" />
            <span ng-show="form.city.$dirty && !form.city.$error.notexists" class="error-span">Location is not exist<br /></span>
        </div>
        <div class="d-inline-block col-lg-1 col-md-4 col-sm-6">
            <input type="text" ng-required="" class="input-base input-single form-control" ng-model="priceFrom" placeholder="pr. from" />
        </div>
        <div class="d-inline-block col-lg-1 col-md-4 col-sm-6">
            <input type="text" ng-required="" class="input-base input-single form-control" ng-model="priceTill" placeholder="pr. till" />
        </div>
        <div class="d-inline-block col-lg-1 col-md-4 col-sm-6">
            <button type="submit" ng-disabled="!(form.city.$error.notexists)" class="btn btn-primary">Search</button>
        </div>
    </form>
    <br />

    <div class="row content">
        <div class="col-sm-9">
            <div id="map" style="" set-height="0.8"></div>
        </div>

        <div class="col-sm-3 search-flats-div" set-height="0.8">
            <div class="mb-4">
                <div class="card h-100">
                    <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="#">Item One</a>
                        </h4>
                        <h5>$24.99</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                    </div>
                </div>
            </div>
            <br />
            <div class="mb-4">
                <div class="card h-100">
                    <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="#">Item One</a>
                        </h4>
                        <h5>$24.99</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                    </div>
                </div>
            </div>
            <br />
            <div class="mb-4">
                <div class="card h-100">
                    <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="#">Item One</a>
                        </h4>
                        <h5>$24.99</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                    </div>
                </div>
            </div>
            <br />
            <div class="mb-4">
                <div class="card h-100">
                    <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="#">Item One</a>
                        </h4>
                        <h5>$24.99</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                    </div>
                </div>
            </div>
            <br />
        </div>
    </div>
</div>