<br />
<h4 class="mb-3 smallresolution-show">Your Real Estate</h4>
<a class="btn btn-block btn-success" href="/flatdetails-new">ADD NEW REAL ESTATE</a>
<br />
<div class="row">
    <div class="col-md-3" ng-repeat="item in myLocations">
        <div class="card h-100">
            <button class="close-icon" ng-click="deleteMyRealEstate(item.id)"></button>
            <a href="/flatdetails/{{item.id}}/address-{{item.address}}/price-{{item.price}}">
                <img class="w-100" ng-src="{{item.photoURL || '../../img/flat/noImage.jpg'}}">
            </a>
            <div class="card-body">
                <h5 class="card-title">
                    <a href="/flatdetails/{{item.id}}/address-{{item.address}}/price-{{item.price}}">{{item.address}}</a>
                </h5>
                <h5>price: {{item.price}}</h5>
            </div><i class="fa fa-edit edit-button" ng-click="editMyRealEstate(item.id)"></i>
        </div>
    </div>
</div>