<link rel="stylesheet" href="../../css/resume.css" />
<link rel="stylesheet" href="../../css/table-messages.css" />
<div id="page-top">
    <div id="sideNav">
        <a class="navbar-brand js-scroll-trigger">
            <span class="d-none d-lg-block">
                <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="../../img/profile.jpg" alt="">
            </span>
        </a>
        <br />
        <div class="collapse navbar-collapse navigation" id="navbarSupportedContent" ng-include src="'components/profile/profile-nav-bar.html'">

        </div>
    </div>
    <div class="container-fluid p-0">
        <section class="resume-section d-column" id="messages">
            <br />
            <div class="div-message">
                <div class="div-message-header">
                    <ul>
                        <li><a class="active" href="#home">Inbox</a></li>
                        <li><a href="#news">Sent</a></li>
                        <li><a href="#contact">Archive</a></li>
                    </ul>
                </div>
                <table cellspacing="0" class="table-message">
                    <tr>
                        <th>Picture</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th width="60%">Message</th>
                    </tr>
                    <tr class="tr-new-message">
                        <td><img class="table-message-img" src="http://lorempixel.com/100/100/people/1" alt="" /></td>
                        <td>Jane Doe</td>
                        <td>01 800 2000</td>
                        <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </td>
                    </tr>
                    <tr class="tr-new-message">
                        <td><img class="table-message-img" src="http://lorempixel.com/100/100/sports/2" alt="" /></td>
                        <td>John Doe</td>
                        <td>01 800 2000</td>
                        <td>Blanditiis, aliquid numquam iure voluptatibus ut maiores explicabo ducimus neque, nesciunt rerum perferendis, inventore.</td>
                    </tr>
                    <tr class="tr-old-message">
                        <td><img class="table-message-img" src="http://lorempixel.com/100/100/people/9" alt="" /></td>
                        <td>Jane Smith</td>
                        <td>01 800 2000</td>
                        <td> Culpa praesentium unde pariatur fugit eos recusandae voluptas.</td>
                    </tr>
                    <tr class="tr-old-message">
                        <td><img class="table-message-img" src="http://lorempixel.com/100/100/people/9" alt="" /></td>
                        <td>Jane Smith</td>
                        <td>01 800 2000</td>
                        <td> Culpa praesentium unde pariatur fugit eos recusandae voluptas.</td>
                    </tr>
                    <tr class="tr-old-message">
                        <td><img class="table-message-img" src="http://lorempixel.com/100/100/people/9" alt="" /></td>
                        <td>Jane Smith</td>
                        <td>01 800 2000</td>
                        <td> Culpa praesentium unde pariatur fugit eos recusandae voluptas.</td>
                    </tr>
                    <tr class="tr-old-message">
                        <td><img class="table-message-img" src="http://lorempixel.com/100/100/people/9" alt="" /></td>
                        <td>Jane Smith</td>
                        <td>01 800 2000</td>
                        <td> Culpa praesentium unde pariatur fugit eos recusandae voluptas.</td>
                    </tr>
                    <tr class="tr-old-message">
                        <td><img class="table-message-img" src="http://lorempixel.com/100/100/people/3" alt="" /></td>
                        <td>John Smith</td>
                        <td>01 800 2000</td>
                        <td>Aut voluptatum accusantium, eveniet, sapiente quaerat adipisci consequatur maxime temporibus quas, dolorem impedit.</td>
                    </tr>
                </table>
            </div>
        </section>
        <section class="resume-section flex-column" id="favorites">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
                    <div class="card h-100">
                        <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="#">Project One</a>
                            </h4>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur eum quasi sapiente nesciunt? Voluptatibus sit, repellat sequi itaque deserunt, dolores in, nesciunt, illum tempora ex quae? Nihil, dolorem!</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
                    <div class="card h-100">
                        <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="#">Project Two</a>
                            </h4>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
                    <div class="card h-100">
                        <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="#">Project Three</a>
                            </h4>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos quisquam, error quod sed cumque, odio distinctio velit nostrum temporibus necessitatibus et facere atque iure perspiciatis mollitia recusandae vero vel quam!</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
                    <div class="card h-100">
                        <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="#">Project Four</a>
                            </h4>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
                    <div class="card h-100">
                        <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="#">Project Five</a>
                            </h4>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
                    <div class="card h-100">
                        <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="#">Project Six</a>
                            </h4>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque earum nostrum suscipit ducimus nihil provident, perferendis rem illo, voluptate atque, sit eius in voluptates, nemo repellat fugiat excepturi! Nemo, esse.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
                    <div class="card h-100">
                        <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="#">Project Seven</a>
                            </h4>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
                    <div class="card h-100">
                        <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="#">Project Eight</a>
                            </h4>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius adipisci dicta dignissimos neque animi ea, veritatis, provident hic consequatur ut esse! Commodi ea consequatur accusantium, beatae qui deserunt tenetur ipsa.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row -->
        </section>
        <section class="resume-section flex-column" id="editProfile">
            <div class="my-auto">
                <h2 class="mb-5">Education</h2>
                <div class="resume-item flex-column flex-md-row mb-5">
                    <div class="resume-content mr-auto">
                        <h3 class="mb-0">University of Colorado Boulder</h3>
                        <div class="subheading mb-3">Bachelor of Science</div>
                        <div>Computer Science - Web Development Track</div>
                        <p>GPA: 3.23</p>
                    </div>
                    <div class="resume-date text-md-right">
                        <span class="text-primary">August 2006 - May 2010</span>
                    </div>
                </div>
                <div class="resume-item flex-column flex-md-row">
                    <div class="resume-content mr-auto">
                        <h3 class="mb-0">James Buchanan High School</h3>
                        <div class="subheading mb-3">Technology Magnet Program</div>
                        <p>GPA: 3.56</p>
                    </div>
                    <div class="resume-date text-md-right">
                        <span class="text-primary">August 2002 - May 2006</span>
                    </div>
                </div>
            </div>
        </section>
        <section class="resume-section flex-column" id="watchDog">
            <div class="my-auto">
                <h2 class="mb-5">Skills</h2>
                <div class="subheading mb-3">Programming Languages &amp; Tools</div>
                <ul class="list-inline list-icons">
                    <li class="list-inline-item">
                        <i class="devicons devicons-html5"></i>
                    </li>
                    <li class="list-inline-item">
                        <i class="devicons devicons-css3"></i>
                    </li>
                    <li class="list-inline-item">
                        <i class="devicons devicons-javascript"></i>
                    </li>
                    <li class="list-inline-item">
                        <i class="devicons devicons-jquery"></i>
                    </li>
                    <li class="list-inline-item">
                        <i class="devicons devicons-sass"></i>
                    </li>
                    <li class="list-inline-item">
                        <i class="devicons devicons-less"></i>
                    </li>
                    <li class="list-inline-item">
                        <i class="devicons devicons-bootstrap"></i>
                    </li>
                    <li class="list-inline-item">
                        <i class="devicons devicons-wordpress"></i>
                    </li>
                    <li class="list-inline-item">
                        <i class="devicons devicons-grunt"></i>
                    </li>
                    <li class="list-inline-item">
                        <i class="devicons devicons-gulp"></i>
                    </li>
                    <li class="list-inline-item">
                        <i class="devicons devicons-npm"></i>
                    </li>
                </ul>
                <div class="subheading mb-3">Workflow</div>
                <ul class="fa-ul mb-0">
                    <li>
                        <i class="fa-li fa fa-check"></i>
                        Mobile-First, Responsive Design
                    </li>
                    <li>
                        <i class="fa-li fa fa-check"></i>
                        Cross Browser Testing &amp; Debugging
                    </li>
                    <li>
                        <i class="fa-li fa fa-check"></i>
                        Cross Functional Teams
                    </li>
                    <li>
                        <i class="fa-li fa fa-check"></i>
                        Agile Development &amp; Scrum
                    </li>
                </ul>
            </div>
        </section>
       
    </div>
</div>
