
html {
    min-height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background: #70bg32;
    background-repeat: no-repeat;
    background: -webkit-linear-gradient(90deg, #EC6F66 10%, #F3A183 90%) fixed; /* Chrome 10+, Saf5.1+ */
    background: -moz-linear-gradient(90deg, #EC6F66 10%, #F3A183 90%) fixed; /* FF3.6+ */
    background: -ms-linear-gradient(90deg, #EC6F66 10%, #F3A183 90%) fixed; /* IE10 */
    background: -o-linear-gradient(90deg, #EC6F66 10%, #F3A183 90%); /* Opera 11.10+ */
    background: linear-gradient(90deg, #EC6F66 10%, #F3A183 90%); /* W3C */
}

body {
    padding-top: 54px;
    background-color: inherit;
}

h4, h5 {
    color: #343a40 !important;
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}

footer {
    background-color: #555;
    color: white;
    padding: 15px;
    position: fixed;
    bottom: 0px;
    width: 100%;
    opacity: 0.5;
}

.error-span {
    color: yellow
}

.center-content {
    text-align:center;
    float: none;
    margin: 0 auto;
}
